
<mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title class="py-2"> {{slot.doctor?.name}}</mat-card-title>
      <mat-card-subtitle class="py-2"><span class="font-medium  text-[var(--secondary-color)]">Clinic:</span> {{slot.clinicLocation.clinic.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="py-4"></mat-divider>
    <mat-card-content class="py-2">
    
              <p><span class="font-  text-[var(--secondary-color)]">Address:</span> {{ slot.clinicLocation.addressLine }}</p>
              <p><span class="font-  text-[var(--secondary-color)]">City:</span> {{ slot.clinicLocation.city }}</p>
          
              <p><span class="font-  text-[var(--secondary-color)]">Day:</span> {{ slot.weekDay | capitalizeFirst }}</p>
              <p><span class="font-  text-[var(--secondary-color)]">Time:</span> {{ slot.startTime | slotDuration: 30 }}</p>
        
      </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-stroked-button>Book</button>
    </mat-card-actions>
  </mat-card>   