.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20rem;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-color);
  padding: 15px 30px;
  border-radius: 20rem;
}


.nav-link.active {
  background-color: #00a4fb;
  color: white;
  transition: background-color 0.3s;
}

.logo img {
  height: 40px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  color: var(--secondary-color) !important;
}
.mybtn{
  transform: scale(1.2);
}