.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20rem;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--dark-color);
  padding: 15px 30px;
  border-radius: 20rem;
}


.nav-link.active {
  background-color: #00a4fb;
  color: white;
  transition: background-color 0.3s;
}

.logo img {
  height: 40px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notifications {
  position: relative;
}

.bell-icon {
  font-size: 24px;
  color: #333;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.profile-name {
  font-weight: bold;
  color: #333;
}

.profile-role {
  font-size: 12px;
  color: #888;
}
