<div class="w-full flex items-center justify-between px-16 mt-8 mb-8">
  <div class="logo bg-white py-[10px] px-[40px] rounded-[20rem]">
    <a routerLink="/" class="text-2xl">
      Clini<span class="text-[var(--primary-color)]">Care</span>
    </a>
  </div>
  <div class="navbar">
    <div class="nav-items">
      <a routerLink="/home" [routerLinkActive]="'active'" class="nav-link"
        >Home</a
      >
      <a
        [routerLink]="'/appointment'"
        [routerLinkActive]="'active'"
        class="nav-link"
        >Appointments</a
      >
      @if (currentRole == 'patient') {
      <!-- <a
        [routerLink]="['/patient/profile']"
        routerLinkActive="active"
        class="nav-link"
        >Patient Profile</a
      > -->
      } @if (currentRole == 'doctor') {
      <a routerLink="schedule" [routerLinkActive]="'active'" class="nav-link"
        >Schedule</a
      >
      }
      <a
        [routerLink]="[currentRole + '/profile']"
        [routerLinkActive]="'active'"
        class="nav-link"
        >Profile</a
      >
    </div>
  </div>

  <div class="profile-section">
    <div class="example-button-container">
      <button
        mat-button
        class="mybtn"
        style="
          color: var(--dark-color);
          background-color: white;
          font-weight: 400;
          width: fit-content;
        "
        [matMenuTriggerFor]="profileMenu"
      >
        <mat-icon>account_circle</mat-icon>
        {{ authService.getName() }}
      </button>
      <!-- <a mat-fab extended routerLink=".">
        <mat-icon>favorite</mat-icon>
        Link
      </a> -->
    </div>

    <mat-menu #profileMenu="matMenu">
      @if (authService.isDoctor() && authService.isPatient()) {
      <button mat-menu-item (click)="switchRole('doctor')">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-stethoscope"
          inline="true"
        ></mat-icon>
        <span>Switch to Doctor</span>
      </button>
      <button mat-menu-item (click)="switchRole('patient')">
        <mat-icon>person</mat-icon>
        <span>Switch to Patient</span>
      </button>
      }
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
