<div class="container mx-auto mt-6">
  <div class="flex w-full justify-between mb-4">
    @if (currentRole === 'patient') {
    <button mat-stroked-button [routerLink]="['/appointment/book']">
      Book
    </button>
    }@else {
    <div></div>
    }
    <mat-button-toggle-group
      [formControl]="appointmentViewControl"
      aria-label="Font Style"
    >
      @if(currentRole === 'doctor'){
      <mat-button-toggle value="Today">Today</mat-button-toggle>
      }
      <mat-button-toggle value="Upcoming">Upcoming</mat-button-toggle>
      <mat-button-toggle value="Past">Past</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  @if(appointmentViewControl.value === 'Today'){

  <!-- Today Section -->
  <h3 class="text-xl font-semibold mt-6 mb-4">Today</h3>
  @if (todayAppointments.length>0) { @for (appointment of todayAppointments;
  track $index) {
  <app-appointment-card
    [appointment]="appointment"
    [isDetails]="true"
  ></app-appointment-card>
  } }@else {
  <p class="text-center text-gray-600">No appointments today found.</p>
  } } @if(appointmentViewControl.value === 'Upcoming'){

  <!-- Upcoming Section -->
  <div class="flex items-center justify-between">
    <h3 class="text-xl font-semibold mb-4">Upcoming</h3>
  </div>
  @if (upcomingAppointments.length>0) { @for (appointment of
  upcomingAppointments; track $index) {
  <app-appointment-card
    [appointment]="appointment"
    [isEdit]="true"
    [isCancel]="true"
    (cancel)="openCancelDialog($event)"
  ></app-appointment-card>
  } }@else {
  <p class="text-center text-gray-600">No upcoming appointments found.</p>
  } } @if(appointmentViewControl.value === 'Past'){

  <!-- Past Section -->
  <h3 class="text-xl font-semibold mt-6 mb-4">Past</h3>
  @if (pastAppointments.length>0) { @for (appointment of pastAppointments; track
  $index) {
  <app-appointment-card
    [appointment]="appointment"
    [isDetails]="true"
  ></app-appointment-card>
  } }@else {
  <p class="text-center text-gray-600">No past appointments found.</p>
  } }
</div>
