<div [formGroup]="form">
  <mat-form-field class="w-full">
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      placeholder="{{ placeholder }}"
      aria-label="Number"
      [formControlName]="controlName"
      matInput
      [matAutocomplete]="auto"
    />
    <!-- [formControl]="myControl" -->
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async ; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
