<div class="mb-8">
    <form
      [formGroup]="searchForm"
      class="grid lg:grid-cols-4 sm:grid-cols-3 grid-cols-1 gap-4"
    >
      <app-multi-select-field
        [label]="'Doctor'"
        [form]="searchForm"
        [controlName]="'doctor'"
        [placeholder]="'Pick one'"
        [options]="doctorOptions"
      />
      <app-multi-select-field
        [label]="'Clinic'"
        [form]="searchForm"
        [controlName]="'clinic'"
        [placeholder]="'Pick one'"
        [options]="clinicOptions"
      />
      <app-multi-select-field
        [label]="'Location'"
        [form]="searchForm"
        [controlName]="'location'"
        [placeholder]="locationOptions.length===0?'Choose clinic to show locations':'Pick one'"
        [options]="locationOptions"
      />
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date" />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
  
        @if (range.controls.start.hasError('matStartDateInvalid')) {
        <mat-error>Invalid start date</mat-error>
        } @if (range.controls.end.hasError('matEndDateInvalid')) {
        <mat-error>Invalid end date</mat-error>
        }
      </mat-form-field>
  </form>
  <div class="flex items-center justify-end pb-4">
  
      <button mat-flat-button >Submit</button>
  </div>
    <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
      @for (slot of slots; track $index) {
      <app-slot-card [slot]="slot"></app-slot-card>
      }
    </div>
  </div>
  