<div class="w-full">
  <app-list
    [controlName]="'slot'"
    [form]="existSlotForm"
    [list]="doctorSlots"
  />
</div>
<form [formGroup]="slotForm" class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
  <app-multi-select-field
    [label]="'Slot'"
    [form]="slotForm"
    [controlName]="'slot'"
    [placeholder]="'Pick one'"
    [options]="slotOptions"
  />
  <app-multi-select-field
    [label]="'Clinic'"
    [form]="slotForm"
    [controlName]="'clinic'"
    [placeholder]="'Pick one'"
    [options]="clinicOptions"
  />
  @if (locationOptions.length>0) {

  <app-multi-select-field
    [label]="'Location'"
    [form]="slotForm"
    [controlName]="'location'"
    [placeholder]="'Pick one'"
    [options]="locationOptions"
  />
  }
  @if (isEdit) {
    <mat-form-field>
      <mat-label>Day</mat-label>
      <mat-select [formControlName]="'weekDay'" >
        @for (day of week; track $index) {
          <mat-option [value]="day">{{day}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
</form>
<mat-action-row>
  @if (isEdit) {
    <button mat-button color="warn" (click)="deleteSlot()">Delete</button>
    <button mat-button (click)="editSlot()">Edit</button>
  }@else{
    <button mat-button (click)="submitSlot()">Submit</button>
  }
  <!-- <button mat-button (click)="nextStep()">End</button> -->
</mat-action-row>
