/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00a4fb;
  --secondary-color: #41316f;
  --white-color: #fff;
  --dark-color: #101010;
  --mat-mdc-theme-primary: var(--primary-color);
  --mdc-text-button-label-text-color:var(--primary-color);
}
/*  */

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.warning-snackbar {
  background-color: #ff9800;
  color: white;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
